<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel='stylesheet' href='/styles/common.css' />
  </head>
  <body>
   <%- include("./layout/header.ejs") %>
   <%- include("./layout/sidebar.ejs") %>
    <%- include("./common/tips.ejs") %>
   <%- include("./layout/footer.ejs") %>
  </body>
</html>
